.header {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.form {
  display: grid;
  gap: 0.5em;
  grid-template-columns: auto 1fr;
  align-items: center;
  border: 3px solid var(--col-brand);
  padding: 1em 2em 1.2em;
  border-radius: 1em;

  & > label {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: right;
  }
}

.addButton {
  grid-column: 1 / 3;
}
