.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 10rem 3rem;
  gap: 0.5em;
}

.item {
  grid-column: 1 / 4;
  display: grid;
  align-items: center;
  grid-template-columns: subgrid;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid color-mix(in srgb, white 80%, var(--col-brand));

  & h2 {
    font-size: 1.5rem;
  }

  & p {
    font-size: 1.25rem;
    color: #333;
  }

  &:last-child {
    border-bottom: none;
  }
}

.item .complete {
  --button-color: var(--col-success);
}

.item .overdue {
  --button-color: var(--col-danger);
}

.item .pending {
  --button-color: var(--col-warning);
}
