.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 1em;
  background-color: rgb(78, 0, 114);
  color: white;
  text-align: center;
  box-shadow: 0 5px 5px grey;
  z-index: 1;
}

.container {
  padding: 2em;
  flex: 1;
  overflow: auto;
}
