/* Insert global styles here */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*
  Josh's Custom CSS Reset (Modified)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:is(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:is(input, button, textarea, select) {
  font: inherit;
}

:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Globals */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --col-bg: #fff;
  --col-shade: hsl(0, 0%, 90%);
  --col-text: #000;
  --col-brand: var(--col-discovery);

  --col-neutral: hsl(211, 18%, 68%);
  --col-input: hsl(210, 13%, 27%);
  --col-inverse: hsl(210, 12%, 13%);

  --col-info: hsl(215, 100%, 67%);
  --col-success: hsl(155, 57%, 55%);
  --col-warning: hsl(46, 90%, 62%);
  --col-danger: hsl(4, 91%, 69%);
  --col-discovery: hsl(250, 75%, 75%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

* {
  outline: var(--col-brand) 1px ;
  /* transition: all 0s; */
}

body {
  background-color: var(--col-bg);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--col-text);
  line-height: 1.5;
}

a {
  color: var(--col-brand);
  text-decoration: none;
}

/* Pages */

.home-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Components */
